<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="artbit.com.artbit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--일반적인 자바에서는 public static void main(String args[]) : 메인 함수가 존재한다.
        하지만 안드로이드에서는 메인 함수가 존재하지 않는다.
        그럼 어떻게 처음 실행 입구를 알 수 있을까?
        실행 지점을 가르쳐 주는 역할을 하는 것이 Manifest
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--메인 엑티비티-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!--회원 가입 엑티비티-->
        <activity android:name=".SignUpActivity"/>
    </application>

</manifest>
